@import "./var.css";
@import "./smui-theme.css";
@import "./cover.css";
body {
  margin: 0;
  padding: 0;
  min-width: 768px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(var(--text-primary));
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#foreground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  background-image: url('assets/texture.png');
  pointer-events: none;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #efefef;
  opacity: .8;
}
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 2px;
  opacity: .8;
}